apiVersion: v1
kind: Service
metadata:
  name: minio
spec:
  type: NodePort  # Изменено с ClusterIP (default)
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: 30090  # Должен совпадать с containerPort в kind-config
      name: api
    - port: 9001
      targetPort: 9001
      nodePort: 30091  # Должен совпадать с containerPort в kind-config
      name: console
  selector:
    app: minio
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: quay.io/minio/minio:RELEASE.2023-09-30T07-02-29Z
          args:
            - server
            - /data
            - --console-address
            - :9001
          env:
            - name: MINIO_ROOT_USER
              value: "admin"
            - name: MINIO_ROOT_PASSWORD
              value: "supersecret"
          ports:
            - containerPort: 9000
            - containerPort: 9001