apiVersion: apps/v1
kind: Deployment
metadata:
  name: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: media
  template:
    metadata:
      labels:
        app: media
    spec:
      containers:
        - name: app
          image: spotik/media:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config-volume
              mountPath: /app/configs
              readOnly: true
          env:
            - name: APP_MEDIA_DB_DSN
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: media-dsn
            - name: APP_MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: minio-access-key
            - name: APP_MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: minio-secret-key
      volumes:
        - name: config-volume
          configMap:
            name: app-config
---
apiVersion: v1
kind: Service
metadata:
  name: media
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: media